@use "../abstracts/breakpoints" as *;

.header {
  display: grid;
  gap: var(--space-m, 1rem);
  min-block-size: min(80vh, 50rem);

  .hero {
    --flow-space: var(--space-l);
    --side-size: 30rem;

    align-content: center;
    justify-self: end;
    max-inline-size: min(100%, 30rem);
    padding-block-end: calc(var(--space-l) * 2);

    @include respond-to("medium") {
      grid-area: 1 / 1 / -1 / -1;
    }

    @include respond-to("large") {
      min-inline-size: 100%;
    }
  }

  .hero-image {
    display: flex;
    grid-area: 1 / 1 / -1 / -1;

    > * {
      align-items: center;
      outline: 2px solid hotpink;
    }

    .black {
      flex: 1 999 30%;
      box-shadow: 100% 100% 0 100vmax var(--clr-neutral-300);
      background-color: var(--clr-neutral-300);
      // clip-path: inset(0 0);
    }

    .image {
      max-inline-size: min(100%, 35rem);
      object-fit: fill;
    }

    .white {
      flex: 1 2 30%;
    }
  }
}
