@use "reset";
@use "abstracts/variables";

/* ==================================================
Composition
================================================== */

@use "composition/align-content";
@use "composition/box";
@use "composition/flow-content";
// @use "composition/flow-section";
@use "composition/reverse-sidebar";
@use "composition/sidebar";
@use "composition/switcher";

/* ==================================================
Utilities
================================================== */

@use "utilities/overlay";
@use "utilities/padding-block";
@use "utilities/visually-hidden";
// @use "utilities/weight-bold";

/* ==================================================
Blocks
================================================== */

// @use "blocks/button";
// @use "blocks/header";
// @use "blocks/main";
// @use "blocks/footer";

/* ==================================================
Exceptions
================================================== */

// @use "exceptions/p100";

/* ==================================================
Global Styles
================================================== */

body {
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-body);
  font-size: var(--step--1);
  text-align: center;
  color: var(--clr-neutral-400);
}

:is(h1, h2, h3) {
  font-family: var(--ff-headings);
  color: var(--clr-neutral-500);
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-1);
}

p {
  // max-inline-size: min(100%, 35ch);
}

:focus-visible {
  opacity: 1 !important;
  outline: 4px solid var(--clr-primary-100);
  outline-offset: 4px;
}

a {
  text-decoration: none;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
